
@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultado</h2>

@Html.ActionLink("Notas", "Index", new { }, new { @class = "btn btn-success" })
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Periodo1</th>
            <th>Periodo2</th>
            <th>Periodo3</th>
            <th>Total Final Periodo </th>

        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in collection)
        {
        <th>@</th>
        <th>Periodo1</th>
        <th>Periodo2</th>
        <th>Periodo3</th>
        <th>Total Final Periodo </th>
    }*@

        </tbody>
    </table>
